@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap');


#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #070707;
}


.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: .35;
  background-image: url('https://static.resumementor.com/images/1920/i/L2ltYWdlcy9iYWNrZ3JvdW5kcy9ncmlkLXBhdHRlcm4ud2VicA~~.webp');
}

.bg-main {
  background-color: #070707;
  width: 30vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  shape-rendering: geometricPrecision; /* Ensures smoother edges */
}